.content{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: calc(85dvh - 8rem);
}
.content div{
    align-content: center;
    margin: 1rem;
    box-sizing: border-box;
    
}
.content .img-container{
    width: min(320px, 25%);
    text-align: center;
}
.content .img-container img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: min(3dvw, 32px)
}
.content .context{
    width: max(650px, 50%);
    box-sizing: border-box;
}
.context div{
    margin-inline: 0px;
    padding: 1rem;
    box-sizing: border-box;
}
.paragraph-width{
    width: 80%;
    margin-inline: auto;
}
.paragraph-width li{
    padding-block: 0.5em;
}
table{
    width: 100%;
}
.link-hover:hover{
    background-color: var(--main-color);
}
.my-personal-image{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
}
.my-personal-image:hover{
    background-color: rgb(136, 136, 136);
}
.my-personal-image > img{
    aspect-ratio: 1;
    width: clamp( calc(100px - 2em), calc(100% / 3 - 3em), calc(2000px / 3 - 2rem));
    object-fit: cover;
    padding: 0.5em;
    box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
    .paragraph-width{
        width: 95%;
    }
}