
.content{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 40dvh;
}
.welcome-paragraph{
    text-indent: 2rem;
    font-weight: 100;
    text-align: justify;
}
.content div:last-child{
    align-content: center;
    margin: 1rem;
    box-sizing: border-box;
    
}
.content .img-container{
    width: min(320px, 45%);
    text-align: center;
}
.rgb-animation{
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
    border-radius: min(calc(3dvw + 2px), 34px);
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 200%;
    background-image: linear-gradient(90deg,rgb(255, 51, 51), rgb(45, 45, 255), rgb(6, 255, 6));
    animation: rotateBackground 4s linear infinite;
}
@keyframes rotateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.content .img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-sizing: border-box;
    border-radius: min(3dvw, 32px);
}
.content .context{
    width: max(650px, 50%);
    box-sizing: border-box;
}
.context div{
    margin-inline: 0px;
    padding: 1rem;
    box-sizing: border-box;
}
.paragraph-width{
    width: 80%;
    margin-inline: auto;
}
.paragraph-width li{
    padding-block: 0.5em;
}
table{
    width: 100%;
}
.link-hover:hover{
    background-color: var(--main-color);
}
.my-personal-image{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 3rem;
    transition: ease-in 0.1s;
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
}
.my-personal-image:hover{
    background-color: rgb(195, 195, 195);
}
.my-personal-image > img{
    height: 100%;
    width: calc(100% / 3);
    aspect-ratio: 1;
    object-fit: cover;
    padding: 0.5em;
    box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
    .paragraph-width{
        width: calc(100% - 1rem);
    }
    .my-personal-image{
        padding: 0.5rem;
        gap: 1em;
        border-radius: 1rem;
    }
}
