    /* *{
        border: 1px solid green;
    } */
.button-container{
    margin-top: -0.5rem;
    height: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}
.button-container > a{
    width: calc(100% / 3.2);
    text-align: center;
    align-content: center;
    user-select: none;
    font-size: 80%;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    background: linear-gradient(140deg, rgb(0, 105, 197), rgb(0, 69, 130));
    padding-inline: 0.5rem;
}
.button-container > a > span{
    position: relative;
    padding-right: 1rem;
}
.button-container > a span::after{
    content: "";
    position: absolute;
    height: 1rem;
    aspect-ratio: 1;
    right: -0.5rem;

    filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(2%) hue-rotate(133deg) brightness(107%) contrast(101%);
}
.button-container > a:first-child span::after{
    background: url('../img/icons/project-management.png');
    background-size: cover;
}
.button-container > a:nth-child(2) span::after{
    background: url('../img/icons/report.png');
    background-size: cover;
}
.button-container > a:last-child span::after{
    background: url('../img/icons/downloads.png');
    background-size: cover;
}
.list{
    margin-block: 0.5rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: calc(100dvh - 10.6rem);
    min-height: 25rem;
    overflow-y: scroll;
    padding-inline: 1rem;
}
.list::-webkit-scrollbar{
    display: none;
}
.list > h2{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding-top: 1rem;
}
.list > a{
    padding: 0.5em;
    border-radius: min(calc(3dvw + 0.5em), calc(32px + 0.5em));    
}
.list > a:hover{
    background-color: rgba(255, 255, 255, 0.444);
}
.list > a:active{
    transform: scale(0.95);
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-reverse{
    flex-direction: row-reverse;
}
.content > p{
    width: calc(70% - 1rem);
}
.content, iframe{
    border-radius: calc(min(3dvw, 32px) - 0.5rem); 
    pointer-events: none;
    min-height: inherit;
}
.compile-image-container{
    position: relative;
    width: 30% ;
    padding: 0.5rem;
    min-height: 15em;
}
.compile-image-container > img{
    position: absolute;
    width: 50%;
    height: auto;
}
.compile-image-container > img:first-child{
    left: 50%;
    top: 50%;
    transform: translate(-70%, -70%);
    filter: brightness(85%);
}
.compile-image-container > img:nth-child(2){
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: drop-shadow(0 0 0.5em rgb(215, 215, 215));
}
.compile-image-container > img:last-child{
    left: 50%;
    top: 50%;
    transform: translate(-30%, -30%);
    filter: brightness(85%);
}
hr{
    width: 100%;
}
.download-button{
    margin-inline: auto;
}
.download-button h2{
    color: white;
    margin-inline: 4rem;
}
.exercises-images{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 3rem;
    margin: 1rem ;
    width: 100%;
}
.exercises-images > img{
    width: calc(100% / 3 - 3rem);
    padding: 1rem;
    box-sizing: border-box;
    object-fit: contain;
    transition: 0.1s ease-in;
}
.exercises-images > img:hover{
    background: rgba(0, 105, 197, 0.172);
}
.exercises-images > img:active{
    background: rgba(0, 105, 197, 0.172);
}
iframe{
    height: 100%;
    width: 100%;
}
.download-button span{
    position: relative;
    padding-right: 1.5rem;
}.download-button span::after{
    content: "";
    position: absolute;
    height: 1.5rem;
    aspect-ratio: 1;
    right: -0.5rem;
    background: url('../img/icons/downloads.png');
    background-size: cover;
    filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(2%) hue-rotate(133deg) brightness(107%) contrast(101%);
}
custom-footer{
    display: block;
    min-height: 4rem;
}
.modal{
    position:fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: rgb(207, 207, 207);    
    display: none;
    margin: 0px;
    justify-content: center;
}
.modal > img:first-child{
    height: 1.5rem;
    aspect-ratio: 1;
    position: absolute;
    padding: 0.5em;
    left: 0.5em;
    top: 0.5em;
    z-index: 1;
    transition: 0.1s ease-in;
}
.modal > img:first-child:hover{
filter: drop-shadow(0 0 0.5em red);
}
.modal > img:first-child:active{
    transform: scale(0.9);
}
#fullScreen{
    object-fit:contain;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.modal > h3{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding-block: 1rem;
    box-sizing: border-box;
    margin-bottom: 0px;
    color: whitesmoke;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.637));
}
@media only screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .content > p{
        width: 100%;
    }
    .compile-image-container{   
        width: 50%;
        min-height: auto;
        aspect-ratio: 1;
    }
    .button-container > a > h2{
        margin: auto;
        color: white;
        padding: 0.5em;
        font-size: 1em;
    }
    .button-container > a span::after{
        right: -0.2rem;
    }
    .button-container > a > span{
        font-size: 0.7rem;
    }
    .exercises-images{
        gap: 1rem;
    }
    .exercises-images > img{
        width: calc(100% / 3 - 1rem);
        padding: 0.3em;
    }
    .compile-image-container > img{
        width: 60%;
    }
}
