/* general ----------------------------------------------*/
:root{
    --main-color: rgb(0, 105, 197);
    --p-color: rgb(31, 31, 31);
    --background-color: rgb(209, 209, 209);
    --background-image: url("../img/background.png");
    --shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.389);
    --highlight: -0.2rem -0.2rem 0.2rem rgba(255, 255, 255, 0.601);
    --inset-shadow: inset 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.442);
    --inset-highlight: inset -0.2rem -0.2rem 0.2rem rgba(255, 255, 255, 0.503);
    --active-color:rgb(27, 27, 27);
    scroll-behavior: smooth;
}
*:focus{
    outline: 1px solid var(--main-color);
    box-sizing: border-box;
}
/* *{
    outline: 1px solid rgb(255, 0, 0);
} */
body{
    font-family: Montserrat;
    margin: 0;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
.grid{
    display: grid;
}
.wrapper{
    margin-inline: auto;;
    width: clamp(320px, calc(100% - 8rem), 2000px);
    min-height: 100dvh;
    position: relative;
    /* outline: 1px solid rgb(255, 0, 0); */
}
.flex{
    min-height: calc(100dvh - 8rem);
    position: relative;
    top: 0px
}
h1, h2{
    color: var(--main-color);
    font-family: karla-bold;
}
h3, p{
    color: var(--p-color);
    font-family: Montserrat;
}
p{
    text-indent: clamp(1rem, 1.5rem, 2rem);
    font-size: clamp(0.6rem, 0.8rem, 1.1rem);
    color: var(--p-color);
    text-align: justify;
}
hr{
    border-color: var(--main-color);
}
li{
    font-family: karla;
}
a{
    color: var(--main-color);
    text-decoration: none;
    transition:ease-in-out 0.2s;
}
a:hover{
    color: rgb(2, 137, 255);
}
.neumorphism{
    box-shadow: var(--inset-highlight), var(--inset-shadow);
    border: 0px;
}
.neumorphism-raise{
    box-shadow: var(--shadow), var(--highlight);
    border: 0px;
}
.box-background{
    backdrop-filter: blur(1px);
    border-radius: min(3dvw, 32px);
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    border: 0px;
}
button{
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.7rem;
    color: var(--background-color);
    font-weight: bold;
    border: 0px;
    background: linear-gradient(140deg, var(--main-color), rgb(0, 69, 130));
}
.button-hover:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition:ease-in-out 0.2s;
}
.button-hover:active{
    box-shadow: inset -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, 0.89), inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.478);
    transform: scale(0.99);
}
.glass-effect{
    background: rgba(0, 105, 197, 0.054);
    border-radius: min(3dvw, 32px);
    backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0, 105, 197, 0.571);
    box-shadow: var(--shadow);
}
.to-animate{
    opacity: 0;
}
.show-animation{
    animation: show-animation 0.3s ease-in-out forwards;
}
/* Fonts ----------------------------------------------*/
@font-face{
    font-family: karla-bold;
    src: url(../font/Karla/static/Karla-Bold.ttf);
}
@font-face{
    font-family: karla;
    src: url(../font/Karla/static/Karla-Regular.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

/* header -------------------------------------------------------------------*/
header{
    min-height: 4rem;
}
.header-flex{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 320px;
    box-sizing: border-box;
}
.header-flex div{
    flex-grow: 1;
}
.header-flex img{
    height: 2.5rem;
}
.header-flex ul{
    text-decoration: none;
    padding-left: 1rem;
    transition:ease-in-out 0.1s;
}
.active{
    color: var(--active-color);
}
.header-flex > ul .active::before{
    filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(7492%) hue-rotate(212deg) brightness(89%) contrast(101%);
}
.header-flex a{
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding-left: 1.5rem;
}
.header-flex > div > a{
    display: inline-block;
    height: inherit;
    padding: 0;
}
.header-flex > ul a::before{
    position: absolute;
    content: "";
    background-size: cover;
    height: 1rem;
    aspect-ratio: 1 / 1;
    left: 0.2rem;
    bottom: 2px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(55%) saturate(6243%) hue-rotate(196deg) brightness(93%) contrast(101%);
    background-position: cover;
}
.header-flex > ul:nth-child(2) a::before{
    background-image: url("../img/icons/home.svg");
}
.header-flex > ul:nth-child(3) a::before{
    background-image: url("../img/icons/portfolio.svg");
}
.header-flex > ul:nth-child(4) a::before{
    background-image: url("../img/icons/paper-plane.svg");
    
}
.header-flex > ul > a:hover{
    filter: brightness(0) saturate(100%) invert(35%) sepia(96%) saturate(2352%) hue-rotate(192deg) brightness(102%) contrast(106%);
}
.header-flex ul:active{
    transform: scale(0.9);
    outline: 0rem solid var(--main-color);
}
.header-flex a:active{
    outline: 0rem solid var(--main-color);
}
/* footer --------------------------------------------------*/
footer{
    box-sizing: border-box;
    min-height: 4rem;
    margin: 0px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
footer span{
    position: relative;
    margin-left: 1.2rem ;
}
.gmail-icon::before{
    position: absolute;
    left: -1.1rem;
    content: "";
    aspect-ratio: 1/1;
    width: 1rem;
    background-image: url("../img/icons/gmail.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.github-icon::before{
    position: absolute;
    left: -1.2rem;
    content: "";
    aspect-ratio: 1/1;
    width: 1rem;
    background-image: url("../img/icons/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .svg{
    position: absolute;
    bottom: 1rem;
    left: 0px;
    height: 3rem;
    width: 3rem;
    padding: 0px;
}
footer .svg svg{
    height: 100%;
    width: 100%;
}
/* @media --------------------------------------------------*/
@media only screen and (max-width: 800px) {
    .wrapper{
        width: clamp(320px, calc(100% - 0.5em), 2000px);
    }
    .header-flex ul {
        padding-left: 0.5rem;
    }
    .header-flex a{
        font-weight: bold;
        font-size: 0.7rem;
    }
    .header-flex > ul a::before{
        height: 0.7rem;
    }
    .header-flex > ul a::before{
        left: 0.7rem;
    }
    footer{
        font-size: 0.7rem;
    }
    .gmail-icon::before{
        width: 0.7rem;
    }
    .github-icon::before{
        width: 0.7rem;
    }
}
/* animation --------------------------------------------------*/
#Layer_1{

    animation-name: bounce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes bounce {
    0%{
        transform:translateY(0rem);
    }
    2%{
        transform:translateY(3.5rem);
    }
    4%{
        transform: scaleY(1);
    }
    6%{
        transform: scaleY(0.9);
    }
    8%{
        transform:translateY(5rem);
    }
    10%{
        transform:translateY(3.5rem);
    }
    12%{
        transform:translateY(0rem);
    }
    13%{
        transform:translateY(5rem);
    }
    100%{
        transform:translateY(5rem);
    }
}
.left-to-center-animation{
    animation: leftToCenter 0.5s ease-in normal forwards;
}
@keyframes leftToCenter {
    0%{
        opacity: 0;
        transform: scale(0.9) translateX(-20rem);
    }
    70%{
        transform: scale(0.9) translateX(0);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateX(0);
    }
}
.right-to-center-animation{
    animation: rightToCenter 0.5s ease-in normal forwards;
}
@keyframes rightToCenter {
    0%{
        opacity: 0;
        transform: scale(0.9) translateX(20rem);
    }
    70%{
        transform: scale(0.9) translateX(0);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateX(0);
    }
}
.scale-animation{
    animation: toNormalScale 0.1s ease-in normal forwards;
}
@keyframes toNormalScale{
    from{
        opacity: 0;
        transform: scale(0.5) translateY(-50rem);
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0rem);
    }
}
@keyframes show-animation {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
