/* box design */
.neumorphism{
    background: color-mix(in srgb, var(--background-color) 98%, white 2%);
    box-shadow: 5px 5px 15px var(--dark-shadow),
            -5px -5px 15px var(--light-shadow);
}

.neumorphism-inset{
    background: color-mix(in srgb, var(--background-color) 80%, black 20%);
    box-shadow: inset 5px 5px 10px var(--dark-shadow),
            inset -5px -5px 10px var(--light-shadow);
}

.neumorphism-small{
    background: color-mix(in srgb, var(--background-color) 98%, white 2%);
    box-shadow: 0.5rem 0.5rem 0.7rem var(--dark-shadow),
            -0.2rem -0.2rem 0.3rem var(--light-shadow);
}
.neumorphism-inset-small{
    background: color-mix(in srgb, var(--background-color) 80%, black 20%);
    box-shadow: inset 0.3rem 0.3rem 0.7rem var(--dark-shadow),
            inset -0.3rem -0.3rem 0.7rem var(--light-shadow);
}

.neumorphism-button{
    border: 2px solid var(--main-color);
    background: linear-gradient(145deg,color-mix(in srgb, var(--main-color) 70%, #ffffff 30%) 0%, var(--main-color) 100%);
    box-shadow: inset 1px 1px 1px  var(--dark-shadow),
                inset -1px -1px 1px rgba(201, 201, 201, 0.475),
                2px 2px 4px var(--dark-shadow),
                -2px -2px 4px var(--light-shadow);
}
form{ color: var(--font-color); }
.gradient-border {
    border: 2px solid transparent;
    background-image: 
        linear-gradient(
            var(--background-color),
            var(--background-color)),
        linear-gradient(90deg,
            rgba(0, 9, 87, 1) 0%,
            rgba(52, 76, 183, 1) 35%,
            rgba(87, 123, 193, 1) 67%,
            rgba(255, 106, 0, 1) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
/* position of containers */
.relative{ position: relative; }
.absolute{ position: absolute; }
.sticky{ position: sticky; }
.fixed{ position: fixed; }
.center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-items: baseline;
}
/* displays of containers */
.flex{ display: flex; }
.grid{ display: grid; }
.inline{ display: inline; }
.block{ display: block; }
.hide{
    visibility: hidden;
    display: none;
}
/* font size and design */
h1{ font-size: var(--font-extra-large); }
h2{ font-size: var(--font-large); }
h3{ font-size: var(--font-medium); }
h1, h2, h3{
    color: var(--main-color);
    font-family: var(--title-font-bold);
}
p, a, li, i{
    font-size: var(--font-base);
    color: var(--font-color);
    font-family: var(--paragraph-font);
}
.text-caption{ font-size: var(--font-small); }
.text-gradient{
    font-family: var(--title-font-bold);
    margin: 0;
    background: linear-gradient(45deg, #e8e8e8, var(--main-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}
.text-neumorphism{
    text-shadow: 
    2px 2px 3px var(--dark-shadow),   /* Flat dark shadow */
    -2px -2px 3px color-mix(in srgb, var(--light-shadow) 95%, white 5%);

}
/* spacing */
.margin-extra-small {margin: var(--extra-small-spacing);}
.margin-extra-small-inline {margin-inline: var(--extra-small-spacing);}
.margin-extra-small-block {margin-block: var(--extra-small-spacing);}

.margin-small {margin: var(--small-spacing);}
.margin-small-inline {margin-inline: var(--small-spacing);}
.margin-small-block {margin-block: var(--small-spacing);}

.margin-medium {margin: var(--medium-spacing);}
.margin-medium-inline {margin-inline: var(--medium-spacing);}
.margin-medium-block {margin-block: var(--medium-spacing);}

.margin-large {margin: var(--large-spacing);}
.margin-large-inline {margin-inline: var(--large-spacing);}
.margin-large-block {margin-block: var(--large-spacing);}

.margin-extra-large {margin: var(--extra-large-spacing);}
.margin-extra-large-inline {margin-inline: var(--extra-large-spacing);}
.margin-extra-large-block {margin-block: var(--extra-large-spacing);}

.padding-extra-small {padding: var(--extra-small-spacing);}
.padding-extra-small-inline {padding-inline: var(--extra-small-spacing);}
.padding-extra-small-block {padding-block: var(--extra-small-spacing);}

.padding-small {padding: var(--small-spacing);}
.padding-small-inline {padding-inline: var(--small-spacing);}
.padding-small-block {padding-block: var(--small-spacing);}

.padding-medium {padding: var(--medium-spacing);}
.padding-medium-inline {padding-inline: var(--medium-spacing);}
.padding-medium-block {padding-block: var(--medium-spacing);}

.padding-large {padding: var(--large-spacing);}
.padding-large-inline {padding-inline: var(--large-spacing);}
.padding-large-block {padding-block: var(--large-spacing);}

.padding-extra-large {padding: var(--extra-large-spacing);}
.padding-extra-large-inline {padding-inline: var(--extra-large-spacing);}
.padding-extra-large-block {padding-block: var(--extra-large-spacing);}

.gap-extra-small{ gap: var(--extra-small-spacing); }
.gap-small{ gap: var(--small-spacing); }
.gap-medium{ gap: var(--medium-spacing); }
.gap-large{ gap: var(--large-spacing); }
.gap-extra-large{ gap: var(--extra-large-spacing); }

/* container radius */
.radius-small { border-radius: var(--radius-small); }
.radius-medium { border-radius: var(--radius-medium); }
.radius-large { border-radius: var(--radius-large); }
.radius-full { border-radius: var(--radius-full); }
/* buttons */
button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:2px;
    border: 0px;
    padding-inline: 1rem;
    font-family: var(--title-font-bold);
    color: var(--background-color);
    .icon{
        color: var(--background-color);
    }
}
.button-link{
    text-decoration: none;
}
button:focus-visible{
    outline-offset: 2px;
    outline: 1px dotted var(--main-color);
    outline-offset: 2px;
}
button:hover{
    cursor: pointer;
}
/* inputs */
select:focus{
    outline: 1px dotted var(--main-color);
    outline-offset: 2px;
}
input:focus-visible, textarea:focus-visible, a:focus-visible{
    outline: 1px dotted var(--main-color);
    outline-offset: 2px;
}
/* added parts */
.icon{
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    color: var(--main-color);
}
.glass-card{
        background: rgba(255, 255, 255, 0.075);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        border: 1px solid rgba(255, 255, 255, 0.21);
}
.loading{
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.03) 25%,
        rgba(255, 255, 255, 0.099) 37%,
        rgba(255, 255, 255, 0.03) 63%
    );
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
    animation-timing-function:cubic-bezier(0.55, 0, 0.1, 1);;
}
/* hide data input*/
.gate{
    display: none !important;
    visibility: hidden !important;
}
/* modals */
.modal-full-size{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
/* modal for full size image */
.modal-content{
    margin-inline: auto;
    width: clamp(300px, 100%, 2000px);
    height: 100%;
    min-height: 400px;
    .overlay-container{
        width: 100%;
        min-width: 300px;
        height: 100%;
        min-height: 400px;
    }
    .close-button{
        top: 1rem;
        left: 1rem;
        background-color: transparent;
        i{
            filter: drop-shadow(0 0 1rem red);
            color: red;
            -webkit-text-stroke: 1px black;
        }
    }
    .button-previews{
        top: 50%;
        left: 1rem;
        color: var(--main-color);
        background-color: transparent;
        i{
            filter: drop-shadow(0 0 1rem black);
            color: var(--main-color);
            -webkit-text-stroke: 1px black;
        }
    }
    .button-next{
        top: 50%;
        right: 1rem;
        color: var(--main-color);
        background-color: transparent;
        i{
            filter: drop-shadow(0 0 1rem 1px black);
            color: var(--main-color);
            -webkit-text-stroke: 1px black;
            
        }
    }
    .full-size-image-description{
        bottom: 0;
        background: linear-gradient(0deg,var(--background-color) 0%, rgba(0, 0, 0, 0) 100%);
        max-height: 5ch;
        min-width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
        text-align: center;
        z-index: 5;
    }
    .full-size-image-container{
        margin-inline: auto;
        width: clamp(300px, 100%, 2000px);
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    img{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .modal-content{
        width: calc(100% - 1rem);
    }
}
@media screen and (min-width: 2000px) {
    .modal-content{
        i{
            font-size: 2rem;
            text-align: center;
            padding: 1rem;
        }
    }
}
/* modal for popup notification */
.popup-modal{
    margin: auto;
    margin-top: 1rem;
    width: clamp(290px, 50%, 600px);
    box-shadow: 3px 3px 5px var(--dark-shadow),
        -3px -3px 5px var(--light-shadow);
    background-color: transparent;
    border: 0;
    & > article{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: var(--medium-spacing);
    }

    button{
        background: transparent;
        box-shadow: 3px 3px 5px var(--dark-shadow),
        -3px -3px 5px var(--light-shadow);
        padding-block: var(--small-spacing);
    }
    .close{
        aspect-ratio: 1 / 1;
        i{
            margin: auto;
        }
    }
    header{
        justify-content: space-between;
        align-items: center;
        & > i{
            font-size: var(--font-extra-large);
        }
    }
    section{
        text-align: center;
        h1{
            margin: 0;
        }
    }
    footer{
        justify-content: center;
        gap: var(--medium-spacing);
        flex-wrap: nowrap;
        & > *{
            width: 100%;
        }
    }

}
.popup-modal::backdrop{
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}
/* notification color */
.info-text{ color: var(--main-color); }
.info-background{ background-color: var(--main-color); }

.error-text{ color: rgb(255, 44, 44); }
.error-background{ background-color: rgb(255, 44, 44); }

.warning-text{ color: rgb(255, 178, 35);}
.warning-background{ background-color: rgb(255, 178, 35); }

.success-text{ color: rgb(0, 195, 0); }
.success-background{ background-color: rgb(0, 195, 0); }
