html{
    width: clamp(300px, 100dvw, 2000px);
    min-height: max(400px, 100dvh);
    margin-inline: auto;
}
body{
    margin-inline: auto;
    background: #252430;
    background: linear-gradient(320deg,rgba(37, 36, 48, 1) 45%, rgba(59, 55, 82, 1) 100%);
    width: calc(100% - 6rem);
    background-attachment: fixed; 
    background-position: center;  
    background-size: cover;
}
@media screen and (max-width: 768px) {
    body{
        width: calc(100% - 1rem);
    }
}
header{
    margin-inline: auto;
    padding-top: 0.5rem;
    height: 4rem;
    ul{
        text-decoration: none;
        list-style: none;
        gap: 3rem;
        height: 100%;
        align-items: center;    
        li{
            height: 100%;
        }
        li:first-child{
            
            flex: 1;
            a{
                display: inline-flex;
                img{
                    height: 100%;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }
    a{
        text-decoration: none;
        color: var(--font-color);
        height: inherit;
        & > h2{
                    font-family: var(--title-font-bold);
                    margin: 0;
                }
    }

}
@media screen and (max-width: 768px) {
    header > ul > li:not(:first-child, :last-child){
        visibility: hidden;
        display: none;
    }
}
.hamburger-button{
    span{
        height: 100%;
        display: block;
        button{
            height: 100%;
            display: flex;
            i{
                margin: auto;
            }
        }
    }
    .background {
        width: clamp(200px, calc(100dvw - 50dvw), 400px);
        top: calc(100% + 0.5rem);
        right: 0;
        border-top-right-radius: 0px;
        z-index: 99;
    }
    .mobile-nav-button {
        gap:0px;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }
    .mobile-nav-button > li{
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .hamburger-button{
        visibility: hidden;
        display: none;
    }
}
main{
    flex-direction: column;
    gap: 5rem;
    margin-block: 4rem;
    min-height: max(400px, calc(100dvh - 8.4375rem));
    height: 100%;
}
@media screen and (max-width: 768px) {
    main{
        gap: 2rem;
        margin-block: 1rem;
    }
}
hr{
    border: none;
    margin-inline: 4rem;
    margin-block: 1rem;
}
footer{
    height: 4rem;
    color: var(--font-color);
    gap: var(--medium-spacing);
    font-family: var(--title-font-bold);
    align-items: center;
    margin-inline: auto;
    a{
        color: var(--main-color);
    }
}
@media screen and (max-width: 700px) {
    footer{
        flex-direction: column;
    }
}
.category{
    p{
        text-indent: 2rem;
        text-align: justify;
    }
}
.image-gallery{
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(350px, auto);
    gap: 5rem;
    .image-card{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        p{
            height: 3rem;
            overflow-y: auto;
            scrollbar-width: none;
            width: 100%;
            overflow-wrap: break-word;
            word-break: break-word;
            text-align:left;
            border-bottom: 1px solid var(--main-color);
        }
        .img-container{
            width: 100%;
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        button{
            width: 100%;
            padding-block: 0.5rem;
        }
    }
}
@media screen and (max-width: 700px) {
    .image-gallery{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 2rem;
        .image-card{
            .img-container{
                width: 100%;
                height: 150px;
            }
        }
    }
}