:root{
    /* colors */
    --main-color: rgb(112, 155, 255);
    --background-color: rgb(37, 36, 48);
    --light-shadow: rgba(205, 205, 205, 0.09);
    --dark-shadow: rgb(22, 22, 22);
    --font-color: rgb(230, 230, 230);
    /* fonts */
    --title-font-bold: 'karla-bold', sans-serif;
    --title-font-regular: 'karla', sans-serif;
    --paragraph-font: 'Montserrat', serif;
    /* speeds transition */
    --transition-fast: 0.2s;
    --transition-medium: 0.4s;
    --transition-slow: 0.8s;
    /* font size */
    --font-small: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);/* for caption */
    --font-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);/* for Paragraphs  */
    --font-medium: clamp(1.25rem, 1.15rem + 0.5vw, 1.5rem);/* for h3 */
    --font-large: clamp(1.5rem, 1.35rem + 0.75vw, 2rem); /* for h2 */
    --font-extra-large: clamp(2rem, 1.75rem + 1.25vw, 3rem); /* for h1 */
    --max-line-length: 65ch; /* width of paragraph article */
    /* spacing */
    --extra-small-spacing: clamp(0.25rem, 0.2rem + 0.15vw, 0.375rem);
    --small-spacing: clamp(0.5rem, 0.45rem + 0.2vw, 0.75rem);
    --medium-spacing: clamp(1rem, 0.9rem + 0.4vw, 1.5rem);
    --large-spacing: clamp(1.5rem, 1.35rem + 0.6vw, 2.5rem);
    --extra-large-spacing: clamp(2.5rem, 2.2rem + 1.2vw, 4.5rem);
    /* radius */
    --radius-small: 0.25rem;
    --radius-medium: 0.5rem;
    --radius-large: 1rem;
    --radius-full: 9999px;
}
/* *{
    outline: solid red 1px;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
