<dialog id="popupModal" class="popup-modal  padding-medium radius-medium">
    <article class="flex">
        <header class="flex">
            <!-- <i class="fa fa-exclamation-circle error-text"></i> -->
            <!-- <i class="fa fa-check-circle success-text"></i> -->
            <i class="fa fa-exclamation-triangle warning-text"></i>
            <!-- <i class="fa fa-info-circle info-text"></i> -->
            <button class="close radius-full center image-hover center" id="popupCloseButton">
                <i class="fa fa-close error-text"></i>
            </button>
        </header>
        <section>
            <div class="title" >
                <h1 class="warning-text" id="popupTitle">
                    title
                </h1>
            </div>
            <div class="paragraph">
                <p id="popupDescription">lorem</p>
            </div>
        </section>
        <footer class="flex">
            <button class="radius-full center success-text image-hover" id="popupOkButton">
                <i class="fa fa-check success-text"></i>
                <span>Ok</span>
            </button>
            <!-- <button class="radius-full center error-text image-hover" id="popupOkButton">
                <i class="fa fa-ban error-text"></i>
                <span>Cancel</span>
            </button> -->
        </footer>
    </article>
</dialog>