<dialog id="modalContainer" class="modal-notification">
        <div id="modalContent" class="modal-container radius-small flex padding-medium-block">
            <div class="modal-header padding-medium-inline flex">
                <button id="modalCloseButton" class="link-hover" >
                    <i class="fa fa-close "></i>
                </button>
            </div>
            <div class="modal-body padding-medium-inline">
                <h3 id="modalHeaderText" class="success-text"></h3>
                <p id="modalBodyText"></p>
            </div>
            <div id="modalFooter" class="modal-footer padding-medium-inline flex">
                <button id="modalOkButton" class="link-hover padding-small">
                    <i class="fa fa-close info">
                        <span>Ok</span>
                    </i>
                </button>
                <button id="modalCancelButton" class="link-hover padding-small">
                    <i class="fa fa-close error"> 
                        <span>Cancel</span>
                    </i>
                </button>
            </div>
        </div>
    </dialog>